---
// several out, as they have been dev discovery tools, will catch up if any to remain
---
<div>
  <button
    class="nav-button"
    onclick="window.location.href='/';"
  >
    Islands
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/author-astro?preview';"
  >
    Astro: Preview
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/author-astro';"
  >
    Astro: as Production
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/author-astro-blocks?preview';"
  >
    Astro Blocks: Preview
  </button>
    <button
    class="nav-button"
  onclick="window.location.href='/author-astro-blocks';"
  >
    Astro Blocks: as Production
  </button>
<!-- clean for demo
  <button
    class="nav-button"
    onclick="window.location.href='/author-react';"
  >
    React Preview with Kit
  </button>

  <button
    class="nav-button"
    onclick="window.location.href='/author-vue';"
  >
    VueJs Preview with Kit
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/author-vue-blocks';"
  >
    VueJs Kit Preview Blocks
  </button>
  -->
</div>

<style scoped>
  .nav-button {
    margin: 0 4px;
  }
</style>
