---
// a few out, as they have been dev discovery tools, will modify if any to remain
---
<div>
    <button onclick="window.location.href='/';">Island Communication</button>
    <!--<button onclick="window.location.href='/nanostore';">NanoStore Demo</button>-->
    <!--<button onclick="window.location.href='/dynamic';">Dynamic Duo</button>-->
    <button onclick="window.location.href='/reactduo';">React Preview with Kit</button>
    <!--<button onclick="window.location.href='/presenter';">Presenter Demo</button>-->
</div>