---
// a few out, as they have been dev discovery tools, will modify if any to remain
---
<div>
  <button
    class="nav-button"
    onclick="window.location.href='/';"
  >
    Island Communication
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/author-astro?preview=1';"
  >
    Astro: Preview
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/author-astro';"
  >
    Astro: as Production
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/reactduo';"
  >
    React Preview with Kit
  </button>

  <button
    class="nav-button"
    onclick="window.location.href='/vueduo';"
  >
    VueJs Preview with Kit
  </button>
  <button
    class="nav-button"
    onclick="window.location.href='/vueduoBlocks';"
  >
    VueJs Kit Preview Blocks
  </button>
</div>

<style scoped>
  .nav-button {
    margin: 0 4px;
  }
</style>
